@charset "UTF-8";

@import "../index";

.detail {
  margin-top: 77px;
  margin-bottom: 190px;
}

@media (max-width: 768px) {
  .detail {
    margin-top: 62px;
    margin-bottom: 60px;
  }
}

.pane table {
  width: 100%;
  font-size: 18px;
  line-height: 45px;

  tr {
    &:not(:first-child) {
      border-top: 1px solid #d3d3d3;
    }

    th,
    td {
      padding: 16px 0;
    }

    th {
      width: 31%;
      white-space: nowrap;
      text-align: left;
      font-weight: 700;
    }

    td {
      font-weight: 400;

      span {
        font-weight: 400;
        color: #2abc8f;
      }
    }
  }
}

@media (max-width: 768px) {
  .pane table {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .pane table tr {
    th,
    td {
      padding: 22px 0;
    }
  }
}

@media (max-width: 768px) {
  .pane table tr th {
    padding-right: 10px;
  }
}

.entry-link {
  margin-top: 78px;
}
