@charset "UTF-8";
@import "../index";
@media (max-width: 768px) {
  .information-page .entry .container1 {
    width: 100%;
    margin-top: 58px;
  }
}

.information-page .entry .container1 .catch-image {
  width: 540px;
  height: 160px;
}

@media (max-width: 768px) {
  .information-page .entry .container1 .catch-image {
    width: 270px;
    height: 80px;
  }
}

.information-page .entry .container1 .cover-image {
  margin-top: 52px;
}

@media (max-width: 768px) {
  .information-page .entry .container1 .cover-image {
    margin-top: 62px;
  }
}

.information-page .entry .container1 .entry-btn-wrapper {
  margin-top: -60px;
}

@media (max-width: 768px) {
  .information-page .entry .container1 .entry-btn-wrapper {
    margin-top: -25px;
  }
}

@media (max-width: 768px) {
  .information-page .entry .container1 .entry-btn-wrapper .entry-link {
    width: calc(100% - (20px * 2));
    font-size: 25px;
  }
  .information-page .entry .container1 .entry-btn-wrapper .entry-link .ja {
    font-size: 19px;
  }
}

.information-page
  .entry
  .container1
  .entry-btn-wrapper
  .entry-link:not(:first-child) {
  margin-top: 15px;
}

.information-page .flow {
  margin-top: 160px;
  margin-bottom: 400px;
  position: relative;
}

@media (max-width: 768px) {
  .information-page .flow {
    margin-top: 82px;
    margin-bottom: 204px;
  }
}

.information-page .flow::before {
  top: -314px;
  right: 0;
  width: 44%;
  height: calc(100% + 430px);
  content: "";
  position: absolute;
  background-color: rgba(42, 188, 143, 0.07);
  z-index: -1;
}

@media (max-width: 768px) {
  .information-page .flow::before {
    top: -190px;
    width: 78%;
    height: calc(100% + 307px);
  }
}

.information-page .flow .container1 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .information-page .flow .container1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.information-page .flow .container1 .content-group {
  width: 100%;
  max-width: 680px;
}

@media (max-width: 768px) {
  .information-page .flow .container1 .content-group {
    margin-top: 55px;
  }
}

.information-page .flow .container1 .content-group .content:not(:first-child) {
  margin-top: 130px;
}

@media (max-width: 768px) {
  .information-page
    .flow
    .container1
    .content-group
    .content:not(:first-child) {
    margin-top: 116px;
  }
}

.information-page .flow .container1 .content-group .content h3 {
  color: #2abc8f;
  font-size: 20px;
  font-weight: 700;
}

.information-page .flow .container1 .content-group .content ol {
  font-size: 18px;
  line-height: 24px;
  margin-top: 45px;
  list-style: none;
  counter-reset: listNum;
}

@media (max-width: 768px) {
  .information-page .flow .container1 .content-group .content ol {
    font-size: 16px;
  }
}

.information-page .flow .container1 .content-group .content ol li {
  position: relative;
  padding-top: 12px;
  padding-left: 66px;
}

.information-page .flow .container1 .content-group .content ol li::before {
  counter-increment: listNum;
  content: counter(listNum);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #2abc8f;
  color: #fff;
  font-family: "Rajdhani", sans-serif;
  font-size: 25px;
  font-weight: bold;
  border-radius: 1000px;
}

.information-page
  .flow
  .container1
  .content-group
  .content
  ol
  li:not(:last-child) {
  height: 122px;
}

.information-page
  .flow
  .container1
  .content-group
  .content
  ol
  li:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 50px;
  left: 18px;
  width: 15px;
  height: 58px;
  background-image: url(../img/flow-arrow.png);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  .information-page
    .flow
    .container1
    .content-group
    .content
    ol
    li:not(:last-child)::after {
    height: 64px;
  }
}

.detail-page .detail {
  margin-top: 77px;
  margin-bottom: 190px;
}

@media (max-width: 768px) {
  .detail-page .detail {
    margin-top: 62px;
    margin-bottom: 60px;
  }
}

.detail-page .detail .container1 table {
  width: 100%;
  font-size: 18px;
  line-height: 45px;
}

@media (max-width: 768px) {
  .detail-page .detail .container1 table {
    font-size: 16px;
    line-height: 28px;
  }
}

.detail-page .detail .container1 table tr:not(:first-child) {
  border-top: 1px solid #d3d3d3;
}

.detail-page .detail .container1 table tr th,
.detail-page .detail .container1 table tr td {
  padding: 16px 0;
}

@media (max-width: 768px) {
  .detail-page .detail .container1 table tr th,
  .detail-page .detail .container1 table tr td {
    padding: 22px 0;
  }
}

.detail-page .detail .container1 table tr th {
  width: 31%;
  white-space: nowrap;
  text-align: left;
  font-weight: 700;
}

@media (max-width: 768px) {
  .detail-page .detail .container1 table tr th {
    padding-right: 10px;
  }
}

.detail-page .detail .container1 table tr td {
  font-weight: 400;
}

.detail-page .detail .container1 table tr td span {
  font-weight: 400;
  color: #2abc8f;
}

.detail-page .detail .entry-link {
  margin-top: 78px;
}
