@charset "UTF-8";
@import "../index";
.detail-page .detail {
  margin-top: 77px;
  margin-bottom: 190px;
}

@media (max-width: 768px) {
  .detail-page .detail {
    margin-top: 62px;
    margin-bottom: 60px;
  }
}

.detail-page .detail .pane table {
  width: 100%;
  font-size: 18px;
  line-height: 45px;
}

@media (max-width: 768px) {
  .detail-page .detail .pane table {
    font-size: 16px;
    line-height: 28px;
  }
}

.detail-page .detail .pane table tr:not(:first-child) {
  border-top: 1px solid #d3d3d3;
}

.detail-page .detail .pane table tr th,
.detail-page .detail .pane table tr td {
  padding: 16px 0;
}

@media (max-width: 768px) {
  .detail-page .detail .pane table tr th,
  .detail-page .detail .pane table tr td {
    padding: 22px 0;
  }
}

.detail-page .detail .pane table tr th {
  width: 31%;
  white-space: nowrap;
  text-align: left;
  font-weight: 700;
}

@media (max-width: 768px) {
  .detail-page .detail .pane table tr th {
    padding-right: 10px;
  }
}

.detail-page .detail .pane table tr td {
  font-weight: 400;
}

.detail-page .detail .pane table tr td span {
  font-weight: 400;
  color: #2abc8f;
}

.detail-page .detail .entry-link {
  margin-top: 78px;
}

@media (max-width: 768px) {
  .detail-page .detail .entry-link {
    margin-top: 54px;
  }
}

.entry-page .entry {
  margin-top: 108px;
  margin-bottom: 172px;
}

@media (max-width: 768px) {
  .entry-page .entry {
    margin-top: 65px;
    margin-bottom: 60px;
  }
}

.entry-page .entry .pane {
  width: 770px;
}

@media (max-width: 768px) {
  .entry-page .entry .pane {
    width: calc(100% - (20px * 2));
  }
}

.entry-page .entry .pane .form-chunk:not(:first-child) {
  margin-top: 45px;
}

@media (max-width: 768px) {
  .entry-page .entry .pane .form-chunk:not(:first-child) {
    margin-top: 42px;
  }
}

.entry-page .entry .pane .form-chunk label,
.entry-page .entry .pane .form-chunk p.label {
  padding-bottom: 31px;
  display: block;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 768px) {
  .entry-page .entry .pane .form-chunk label,
  .entry-page .entry .pane .form-chunk p.label {
    padding-bottom: 20px;
  }
}

.entry-page .entry .pane .form-chunk label.is-required::after,
.entry-page .entry .pane .form-chunk p.label.is-required::after {
  content: "必須";
  background-color: #f76464;
  color: #fff;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: 700;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .entry-page .entry .pane .form-chunk label.is-required::after,
  .entry-page .entry .pane .form-chunk p.label.is-required::after {
    margin-left: 14px;
  }
}

.entry-page .entry .pane .form-chunk label:not(:first-child),
.entry-page .entry .pane .form-chunk p.label:not(:first-child) {
  margin-bottom: 45px;
}

.entry-page .entry .pane .form-chunk .check-group {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -25px;
}

.entry-page .entry .pane .form-chunk .check-group-item {
  margin-top: 25px;
  margin-right: 25px;
}

.entry-page .entry .pane .form-chunk .check-group-item input[type="checkbox"] {
  display: none;
}

.entry-page
  .entry
  .pane
  .form-chunk
  .check-group-item
  input[type="checkbox"]:checked
  + label::before {
  background-color: #2abc8f;
}

.entry-page .entry .pane .form-chunk .check-group-item label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.entry-page .entry .pane .form-chunk .check-group-item label::before {
  content: "";
  position: relative;
  display: block;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  background-color: #dedede;
  margin-right: 8px;
}

.entry-page .entry .pane .form-chunk .check-group-item label::after {
  content: "";
  background-image: url("/img/entry-check-item.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 17px;
  height: 13px;
  position: absolute;
  left: 6px;
}

.entry-page .entry .pane .form-chunk input[type="text"],
.entry-page .entry .pane .form-chunk input[type="email"] {
  width: 100%;
  height: 50px;
  background-color: #efefef;
  font-size: 18px;
  padding-left: 1em;
  border: none;
  border-radius: 3px;
}

.entry-page .entry .pane .form-chunk .drop-down {
  font-size: 18px;
  font-weight: 400;
  width: 222px;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  z-index: 1;
  border: 2px solid #2abc8f;
  border-radius: 3px;
  padding-left: 24px;
  background-color: transparent;
  background-image: url(/img/entry-drop-down.png);
  background-repeat: no-repeat;
  background-size: 17px 10px;
  background-position: right 18px top 19px;
}

@media (max-width: 768px) {
  .entry-page .entry .pane .form-chunk .drop-down {
    width: 100%;
  }
}

.entry-page .entry .pane .form-chunk textarea {
  border-radius: 3px;
  width: 100%;
  height: 267px;
  background-color: #efefef;
  font-size: 18px;
  line-height: 32px;
  border: none;
  padding: 0.5em 1em;
  resize: none;
}

.entry-page .entry .pane .schedule-content {
  margin-top: 45px;
}

@media (max-width: 768px) {
  .entry-page .entry .pane .schedule-content {
    margin-top: 42px;
  }
}

.entry-page .entry .entry-submit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 80px;
}

@media (max-width: 768px) {
  .entry-page .entry .entry-submit {
    width: 100%;
    font-size: 25px;
    line-height: 32px;
    padding: 0;
    margin-top: 62px;
  }
}

.entry-page .entry .entry-submit input[type="submit"] {
  display: block;
  width: 634px;
  font-size: 22px;
  font-weight: 700;
  font-family: "Rajdhani", sans-serif;
  line-height: 37px;
  text-align: center;
  background-color: #2abc8f;
  color: #fff;
  padding: 30px 0;
  padding-left: 1em;
  border: none;
}

@media (max-width: 768px) {
  .entry-page .entry .entry-submit input[type="submit"] {
    width: 100%;
    font-size: 19px;
    line-height: 32px;
    padding: 20px;
  }
}

.entry-confirm-page .form-confirm {
  margin-top: 110px;
  margin-bottom: 172px;
}

@media (max-width: 768px) {
  .entry-confirm-page .form-confirm {
    margin-top: 62px;
    margin-bottom: 60px;
  }
}

.entry-confirm-page .form-confirm .message .text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.entry-confirm-page .form-confirm .form {
  width: 770px;
  margin-top: 26px;
}

@media (max-width: 768px) {
  .entry-confirm-page .form-confirm .form {
    width: calc(100% - (20px * 2));
  }
}

.entry-confirm-page .form-confirm .form-chunk:not(:first-child) {
  margin-top: 32px;
}

.entry-confirm-page .form-confirm .form-chunk * {
  width: 100%;
  font-size: 18px;
}

.entry-confirm-page .form-confirm .form-chunk label {
  font-weight: 500;
}

.entry-confirm-page .form-confirm .form-chunk input,
.entry-confirm-page .form-confirm .form-chunk textarea {
  pointer-events: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  resize: none;
  overflow: hidden;
  font-weight: 400;
  line-height: 32px;
  padding: 0;
  border: none;
  margin-top: 8px;
}

.entry-confirm-page .form-confirm .form .btn-wrapper {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .entry-confirm-page .form-confirm .form .btn-wrapper {
    margin-top: 62px;
  }
}

.entry-confirm-page .form-confirm .form .btn-wrapper input {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 98px;
  font-size: 22px;
  font-weight: 700;
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .entry-confirm-page .form-confirm .form .btn-wrapper input {
    height: 78px;
    font-size: 19px;
  }
}

.entry-confirm-page .form-confirm .form .btn-wrapper input[type="button"] {
  color: #2abc8f;
  border: 2px solid #2abc8f;
}

.entry-confirm-page .form-confirm .form .btn-wrapper input[type="submit"] {
  color: #fff;
  background-color: #2abc8f;
  margin-left: 20px;
}

.entry-confirm-page .complete {
  display: none;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.entry-confirm-page .complete.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entry-confirm-page .complete-modal {
  max-width: 700px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 32px;
}

.entry-confirm-page .complete-modal * {
  display: block;
}

.entry-confirm-page .complete-modal *:not(:first-child) {
  margin-top: 32px;
}

.entry-confirm-page .complete-modal .message {
  font-size: 18px;
  line-height: 32px;
  line-break: strict;
}

@media (max-width: 768px) {
  .entry-confirm-page .complete-modal .message {
    font-size: 16px;
  }
}

.entry-confirm-page .complete-modal .back-top {
  font-size: 22px;
  font-weight: 700;
  line-height: 70px;
  color: #fff;
  background-color: #2abc8f;
}

@media (max-width: 768px) {
  .entry-confirm-page .complete-modal .back-top {
    font-size: 19px;
    line-height: 60px;
  }
}

.entry-confirm-page .complete-modal .notice {
  font-size: 16px;
}

@media (max-width: 768px) {
  .entry-confirm-page .complete-modal .notice {
    font-size: 12px;
  }
}
