@charset "UTF-8";

@import "../index";

.about-desc {
  font-size: 18px;
  line-height: 45px;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .about-desc {
    font-size: 16px;
    line-height: 28px;
    margin-top: 40px;
  }
}

.mvv {
  position: relative;
  padding: 210px 0;
  margin-top: 110px;

  &::before {
    top: 0;
    right: 0;
    width: 44%;
    height: 100%;
    content: "";
    position: absolute;
    background-color: rgba(42, 188, 143, 0.07);
    z-index: -1;
  }

  .pane {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    &:not(:first-child) {
      margin-top: 115px;
    }
  }

  .pane-text {
    width: 680px;
  }
}

@media (max-width: 768px) {
  .mvv {
    padding: 42px 0;
    margin-top: 58px;
  }
}

@media (max-width: 768px) {
  .mvv::before {
    width: 78%;
  }
}

@media (max-width: 768px) {
  .mvv .pane {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .mvv .pane-text {
    margin-top: 32px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.mission .pane-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 2em;
}

.vision .pane-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.value .pane-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 2em;
}

@media (max-width: 768px) {
  .value .pane-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.main {
  &:not(:first-of-type) {
    margin-top: 48px;
  }

  .en {
    font-size: 32px;
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    color: #2abc8f;
    margin-right: 16px;
  }

  .ja {
    font-size: 16px;
    font-weight: 700;
    color: #00000070;
  }
}

.value .pane-text .sub {
  margin-top: 8px;
}

.message .pane {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 140px;
}

@media (max-width: 768px) {
  .message .pane {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 58px;
  }
}

.message-title {
  .profile-img {
    width: 230px;
    height: 290px;
    margin-top: 40px;
  }

  .profile-name {
    text-align: center;
    margin-top: 24px;
    font-size: 22px;

    .kana {
      font-size: 14px;
      margin-top: 12px;
    }
  }
}

@media (max-width: 768px) {
  .message-title .profile-img {
    margin-left: auto;
    margin-right: auto;
  }
}

.message-text {
  width: 680px;
  font-size: 18px;
  line-height: 45px;
}

@media (max-width: 768px) {
  .message-text {
    margin-top: 44px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    line-height: 28px;
  }
}

.business .pane {
  margin-top: 230px;
  margin-bottom: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .business .pane {
    margin-top: 100px;
    margin-bottom: 160px;
    display: block;
  }
}

.business-content {
  width: 680px;
  font-size: 18px;

  &:not(:first-child) {
    margin-top: 80px;
  }

  h3 {
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #d5d5d5;
    margin-bottom: 24px;
  }

  p {
    line-height: 45px;

    &.example::before {
      content: "例）";
      display: block;
      margin-right: 1em;
    }

    &.tool {
      margin-top: 2em;

      span {
        color: #2abc8f;
      }
    }
  }
}

@media (max-width: 768px) {
  .business-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    margin-top: 32px;
  }
}

@media (max-width: 768px) {
  .business-content p {
    line-height: 28px;
  }
}

@media (max-width: 768px) {
  .business-content p.tool {
    margin-top: 1.3em;
  }
}
