@charset "UTF-8";
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  border-radius: 0;
}

@font-face {
  font-family: "Noto Sans JP";
  font-weight: 100 900;
  src: url(../font/NotoSansJP-VF.woff) format("woff-variations");
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 700;
  src: url(../font/Rajdhani-Bold.ttf);
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 600;
  src: url(../font/Rajdhani-SemiBold.ttf);
}

@font-face {
  font-family: "Rajdhani";
  font-weight: 500;
  src: url(../font/Rajdhani-Medium.ttf);
}

* {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  color: #222;
}

.is-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.clickable,
.clickable * {
  cursor: pointer;
}

div > img {
  width: 100%;
  height: auto;
}

main {
  min-height: 100vh;
  padding-top: 87px;
}
