@charset "UTF-8";
@import "../index";

.about-page .page-title .container .about-desc {
  font-size: 18px;
  line-height: 45px;
  margin-top: 100px;
}

@media (max-width: 768px) {
  .about-page .page-title .container .about-desc {
    font-size: 16px;
    line-height: 28px;
    margin-top: 40px;
  }
}

.about-page .mvv {
  position: relative;
  padding: 210px 0;
  margin-top: 110px;
}

@media (max-width: 768px) {
  .about-page .mvv {
    padding: 42px 0;
    margin-top: 58px;
  }
}

.about-page .mvv::before {
  top: 0;
  right: 0;
  width: 44%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: rgba(42, 188, 143, 0.07);
  z-index: -1;
}

@media (max-width: 768px) {
  .about-page .mvv::before {
    width: 78%;
  }
}

.about-page .mvv .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .about-page .mvv .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about-page .mvv .container:not(:first-child) {
  margin-top: 115px;
}

.about-page .mvv .container-text {
  width: 680px;
}

@media (max-width: 768px) {
  .about-page .mvv .container-text {
    margin-top: 32px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.about-page .mvv .mission .container-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 2em;
}

.about-page .mvv .vision .container-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 48px;
}

.about-page .mvv .value .container-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 2em;
}

@media (max-width: 768px) {
  .about-page .mvv .value .container-text {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .about-page .mvv .value .container-text .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.about-page .mvv .value .container-text .main:not(:first-of-type) {
  margin-top: 48px;
}

.about-page .mvv .value .container-text .main .en {
  font-size: 32px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  color: #2abc8f;
  margin-right: 16px;
}

.about-page .mvv .value .container-text .main .ja {
  font-size: 16px;
  font-weight: 700;
  color: #00000070;
}

.about-page .mvv .value .container-text .sub {
  margin-top: 8px;
}

.about-page .message .container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 140px;
}

@media (max-width: 768px) {
  .about-page .message .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 58px;
  }
}

.about-page .message .container .message-title .profile-img {
  width: 230px;
  height: 290px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .about-page .message .container .message-title .profile-img {
    margin-left: auto;
    margin-right: auto;
  }
}

.about-page .message .container .message-title .profile-name {
  text-align: center;
  margin-top: 24px;
  font-size: 22px;
}

.about-page .message .container .message-title .profile-name .kana {
  font-size: 14px;
  margin-top: 12px;
}

.about-page .message .container .message-text {
  width: 680px;
  font-size: 18px;
  line-height: 45px;
}

@media (max-width: 768px) {
  .about-page .message .container .message-text {
    margin-top: 44px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    line-height: 28px;
  }
}

.about-page .business .container {
  margin-top: 230px;
  margin-bottom: 300px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .about-page .business .container {
    margin-top: 100px;
    margin-bottom: 160px;
    display: block;
  }
}

.about-page .business .container .business-group .business-content {
  width: 680px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .about-page .business .container .business-group .business-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    margin-top: 32px;
  }
}

.about-page
  .business
  .container
  .business-group
  .business-content:not(:first-child) {
  margin-top: 80px;
}

.about-page .business .container .business-group .business-content h3 {
  font-weight: 700;
  padding-bottom: 20px;
  border-bottom: 1px solid #d5d5d5;
  margin-bottom: 24px;
}

.about-page .business .container .business-group .business-content p {
  line-height: 45px;
}

@media (max-width: 768px) {
  .about-page .business .container .business-group .business-content p {
    line-height: 28px;
  }
}

.about-page
  .business
  .container
  .business-group
  .business-content
  p.example::before {
  content: "例）";
  display: block;
  margin-right: 1em;
}

.about-page .business .container .business-group .business-content p.tool {
  margin-top: 2em;
}

@media (max-width: 768px) {
  .about-page .business .container .business-group .business-content p.tool {
    margin-top: 1.3em;
  }
}

.about-page .business .container .business-group .business-content p.tool span {
  color: #2abc8f;
}
