@charset "UTF-8";

@import "../index";

.pane {
  margin-top: 100px;
}

@media (max-width: 768px) {
  .pane {
    width: 100%;
    margin-top: 58px;
  }
}

.catch-image {
  width: 540px;
  height: 160px;
}

@media (max-width: 768px) {
  .catch-image {
    width: 270px;
    height: 80px;
  }
}

.cover-image {
  margin-top: 52px;
}

@media (max-width: 768px) {
  .cover-image {
    margin-top: 62px;
  }
}

.entry-btn-wrapper {
  margin-top: -60px;
}

@media (max-width: 768px) {
  .entry-btn-wrapper {
    margin-top: -25px;
  }
}

@media (max-width: 768px) {
  .entry-link {
    width: calc(100% - (20px * 2));
    font-size: 25px;

    .ja {
      font-size: 19px;
    }
  }
}

.entry-link:not(:first-child) {
  margin-top: 15px;
}

.flow {
  margin-top: 160px;
  margin-bottom: 400px;
  position: relative;

  &::before {
    top: -314px;
    right: 0;
    width: 44%;
    height: calc(100% + 430px);
    content: "";
    position: absolute;
    background-color: rgba(42, 188, 143, 0.07);
    z-index: -1;
  }

  .pane {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .flow {
    margin-top: 82px;
    margin-bottom: 204px;
  }
}

@media (max-width: 768px) {
  .flow::before {
    top: -190px;
    width: 78%;
    height: calc(100% + 307px);
  }
}

@media (max-width: 768px) {
  .flow .pane {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.content-group {
  width: 100%;
  max-width: 680px;
}

@media (max-width: 768px) {
  .content-group {
    margin-top: 55px;
  }
}

.content {
  &:not(:first-child) {
    margin-top: 130px;
  }

  h3 {
    color: #2abc8f;
    font-size: 20px;
    font-weight: 700;
  }

  ol {
    font-size: 18px;
    line-height: 24px;
    margin-top: 45px;
    list-style: none;
    counter-reset: listNum;

    li {
      position: relative;
      padding-top: 12px;
      padding-left: 66px;

      &::before {
        counter-increment: listNum;
        content: counter(listNum);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        background-color: #2abc8f;
        color: #fff;
        font-family: "Rajdhani", sans-serif;
        font-size: 25px;
        font-weight: bold;
        border-radius: 1000px;
      }

      &:not(:last-child) {
        height: 122px;

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 50px;
          left: 18px;
          width: 15px;
          height: 58px;
          background-image: url(/img/flow-arrow.png);
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .content:not(:first-child) {
    margin-top: 116px;
  }
}

@media (max-width: 768px) {
  .content ol {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .content ol li:not(:last-child)::after {
    height: 64px;
  }
}
